* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%; /* Hace que el header ocupe todo el ancho disponible */
    background: linear-gradient(to right, #87CEEB, #5d67ff); /* Gradiente azul claro y blanco */
    color: white; /* Cambia el color del texto a blanco */
    margin-bottom: 20px; /* Agrega separación entre el header y el contenido */
    text-align: center;
    padding: 20px 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*Estilo para el input de CP*/
.form-group input[id=codigoPostal]{

    width: 15%;


}

#coords-Map {
    width: 600px;       /* Ancho del mapa */
    height: 400px;      /* Altura del mapa */
    border: 2px solid black; /* Borde del mapa */
    margin-bottom: 20px; /* Agrega un espacio de 20px debajo del mapa */
}

.form-group label[for="coordsCourt"] {
    margin-right: 10px; /* Agrega un espacio de 10px debajo del texto de coordenadas */
}

.form-group input#latitudX {
    margin-right: 10px; /* Añade un margen derecho de 10px al input de Latitud */
}

#dimensiones label[for="dim-ancho"] {
    margin-right: 10px; /* Añade un margen derecho de 10px al texto "Ancho" */
}

#dimensiones label[for="dim-largo"] {
    margin-right: 10px; /* Añade un margen derecho de 10px al texto "Largo" */
}

#dimensiones label[for="dim-profundidad"] {
    margin-right: 10px; /* Añade un margen derecho de 10px al texto "Profundidad" */
}


#ilum-trib-vest {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
}

#techo-piso {
    margin-bottom: 20px; /* Agrega un espacio entre Piso y Techo */
}

#techo-piso {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
}

#piso-container {
    margin-top: 20px; /* Espacio entre Techo y Piso */
}


#techo-piso input,
#ilum-trib-vest input[type="checkbox"] {
    transform: scale(1.5); /* Ajusta el tamaño del checkbox */
    margin-left: -430px; /* Ajusta la posición del checkbox hacia la izquierda */
    position: relative;
    bottom: 20px;
}

/* Estilos CSS */
#datos-techo label:nth-of-type(2) {
    margin-top: 10px; /* Ajusta el espacio entre la etiqueta y el campo de entrada */
}

#datos-techo label:nth-of-type(2) + input {
    margin-top: 10px; /* Ajusta el espacio entre la etiqueta y el campo de entrada */
}


/*************************ESTILOS GENERALES PARA CADA GRUPO DE CAMPOS*************************/

.form-group{
    position: relative;
    width: 100%;
    display: inline-flex;
    margin-bottom: 20px;
}

.form-group label {
    position: relative;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-left: 10px;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*************************ESTILOS PARA TIPO DE INSTALACIÓN Y DEPORTE PRINCIPAL*************************/

._Tipo, .deporte-principal{

    position: relative;
    width: 50%;
    display: inline-flex;

}

/********************************ESTILOS PARA LAS ACTIVIDADES EXTRAS**************************************/

.form-group[id="tipos-actividad"]{

    display: inline-flex;
    width: 100%;

}

.form-group[id="tipos-actividad"] label{

    margin-bottom: 20px;

}

.act-check{

    display: block;
    position: relative;
    width: 30%;

}



/*************************Estilo para los select**********************/
.form-group select{
    
    font-family: "Arial", Times, serif;
    font-size: 15px;
    width: 80%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;

}

option:hover{
    background-color: #32CD32;
}

/***********************OCULTA POR DEFECTO TODOS LOS HIDDEN CAMPO****************************/

.campo-hidden{

    display: none;

}

/***************************ESTILO PARA EL BOTON DE BUSQUEDA************************/
.form-group button{

    
    padding: 10px 20px;
    padding-top: 0px;
    background-color: #5d67ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-right: 15px;

}

.form-group button,.form-group input[id=codigoPostal]{
    text-orientation: sideways-right;
    text-align: center;
}

.gg-search{
    transform: translate(-5px,12px);
}

.form-group button:hover{
    background-color:#BA4A00;
    transform: scale(1.1); /* Aumenta su tamaño al pasar por encima -FER-*/ 
}

.form-group[id=control-buttons] button{
    padding: 10px;
    display: inline-block;
    justify-content: space-between;
}




/**********************CUADRO EMERGENTE***********************/
/* Estilo del fondo oscurecido */
.cuadro-emergente {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilita scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
    /* Animación */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.5s ease; /* Transición suave */
}

/* Estilo del contenido del cuadro emergente */
.contenido-emergente {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Ancho del contenido */
    max-width: 450px; /* Máximo ancho */
    /* Animación */
    transform: scale(0.7); /* Inicia más pequeño */
    transition: transform 0.5s ease; /* Transición suave */
}

/* Botones dentro del cuadro emergente */
.contenido-emergente button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
}

.contenido-emergente h2{
    margin: auto;
    width: 50%;
    padding: 10px;
}

/*ESTILO DEL MAPA*/
#coords-Map {
    width: 600px;       /* Ancho del mapa */
    height: 400px;      /* Altura del mapa */
    border: 2px solid black; /* Borde del mapa */
}
